@using LaTiendita.Models
@model UserModel

@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>La tiendita</h1>
</div>

<div class="row" id="homeModule">
    @using (Ajax.BeginForm("Index", "Home", null, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "homeModule", InsertionMode = InsertionMode.Replace }, new { @id = "homeForm" }))
    {
        <div class="col-md-4">
            @Html.LabelFor(model => model.Balance)
            @Html.TextBoxFor(model => model.Balance, new { @readonly = true, @Value = Model.Balance < 0 ? (Model.Balance * -1).ToString("0.00") : Model.Balance.ToString("0.00"), @style = Model.Balance < 0 ? "color:green;border: 0;" : "border: 0;" })
        </div>
        <div class="col-md-4">
            <table>
                <thead>
                    <tr>
                        <th>
                            Producto
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Costo
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            Fecha
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PurchaseList)
                    {
                    <tr>
                        <td>
                            @item.ProductName
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.Price.ToString("0.00")
                        </td>
                        <td>
                            @item.Total.ToString("0.00")
                        </td>
                        <td>
                            @item.PurchaseDate.ToString("MM/dd/yyyy")
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>